.content-wrapper {
    overflow: auto;
  }
/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #3d9970;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #307858;
    border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.main-header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.brand-text {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* * dropdown menu */

.dropdown .dropdown-menu {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ? .dropdown .dropdown-menu .user-header .img-circle {
    ? border: 10px solid #3d9970;
} */


#navbar-dropdown-btn {
    color: #3d9970;
}

#navbar-dropdown-btn:hover {
    color: #2e7052;
}

/* * dropdown menu logout button */
.dropdown .dropdown-menu .user-footer #logout-div #logout-btn, #delete-btn {
    background-color: #dc3545;
    border-color: #a82936;
    color: white;
}

.dropdown .dropdown-menu .user-footer #logout-div #logout-btn:hover, #delete-btn:hover {
    background-color: #a82936;
    border-color: #a82936;
    color: white;
}

/* * icons in forms and all buttons */
.input-group-text, .btn {
    border-color:#3d9970; 
    background-color:#3d9970; 
    color:white
}


/* * buttons on hover */
.btn:hover {
    border-color: #2e7052;
    background-color: #307858;
    color: white;
}

.form-control-border:focus{
    border: 2px;
    border-radius: 2px;
}

.form-control-border::placeholder {
    color: rgb(214, 209, 209);
}

/* * all forms */
.form-control:focus {
    border-color: #3d9970;
}

/* * all links */
a, .pagination .page-link {
    color: #3d9970;
}

a:hover {
    color: #307858;
}

/* * icon buttons*/
a i {
    color: #ffffff;
    /* ? border-radius: 50%;
    ? border-color: white;  */
}

a i:hover {
    color: #307858;
}

/* .navbar-nav .nav-item a.active  {
    color:#FEFCFB;
    font-weight: bold;
} */